venv/
sssom/__pycache__/
.idea
sssom.egg-info
build/
dist/
*.pyc
tests/tmp/
tmp/
schema/sssom-docs/
.DS_Store
.tox
sphinx/_build
sphinx/_static
sphinx/_templates
docs/_build
.vscode/*
tsvalid.egg-info
